absl-py==0.13.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
deepdiff==5.5.0
enum34==1.1.10
future==0.18.2
google-auth==1.31.0
google-auth-oauthlib==0.4.4
grpcio==1.38.0
gym==0.18.3
gym-pysc2==0.0.2
idna==2.10
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
mock==4.0.3
mpyq==0.2.5
numpy==1.20.3
oauthlib==3.1.1
ordered-set==4.0.2
pandas==1.2.4
Pillow==8.2.0
portpicker==1.4.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
pyglet==1.5.15
pyparsing==2.4.7
PySC2==3.0.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
scipy==1.6.3
six==1.16.0
sk-video==1.1.10
stable-baselines3==1.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.8.1
urllib3==1.26.5
websocket-client==1.1.0
Werkzeug==2.0.1
whichcraft==0.6.1
